<h3>Os inscritos do <%=@job.title %> são: </h3>
<ul>
 <% @applies.each do |apply| %>
    <li>
    <%= link_to apply.profile.name, profile_path(apply.profile.id) %> 
    </li>
<% end %>
 </ul>


<%= link_to 'Voltar', root_path %>