<h3> Suas Vagas: </h3>
<h4>Abertas:</h4>
<ul>
 <% @jobs.each do |job| %>
    <% if job.available? %>
      <li>
        <%= link_to job.title, job %> 
        <%= button_to 'Encerrar vaga', end_job_path(job) %>
      </li>
    <% end %>
<% end %>
 </ul>

<h4>Encerradas:</h4>
<ul>
 <% @jobs.each do |job| %>
    <% if job.unavailable? %>
      <li>
        <%= link_to job.title, job %> 
      </li>
    <% end %>
<% end %>
 </ul>
<%= link_to 'Voltar', :back %>