<h3> Vagas criadas </h3>

<ul>
 <% @jobs.each do |job| %>
    <% if job.available? %>
      <li>
        <%= link_to job.title, job %> 
        <%= button_to 'Encerrar vaga', end_job_path(job) %>
      </li>
    <% end %>
<% end %>
 </ul>


<%= link_to 'Voltar', :back %>