<h1> Vagas </h1>
<% if current_headhunter %>
    <%= link_to 'Criar nova vaga', new_job_path%> 
<% end %>

<ul>
 <% @jobs.each do |job| %>
    <% if job.available? %>
        <li>
        <%= link_to job.title, job %> 
        <p> <%= job.description %> </p>
        </li>
    <% end %>
<% end %>
 </ul>


<%= link_to 'Voltar', root_path %>